.staff_nav_bar {
    float: right;
}

.nav-item {
    display:inline;
}

.jumbotron {
    text-decoration-color: #92b5d8;
    text-align: center;
    background-color: #92b5d8;
}

.nav-link active {
    width: 70px;
}

.nav-link-0{
    width: 85px;
}

.nav-link-1{
    width: 70px;
}

.text-muted{
    width: 510px;
    float: left;
}

.table{
    border-collapse: collapse;
  width: 100%;
}

.th, td {
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even){
    background-color: #f2f2f2
}

.th {
  background-color: #4CAF50;
  color: white;
}

.btn btn-lg btn-success{
    background-color: rgb(0, 0, 128);
}

.col-0{
    width: 100px;
}

.col{
}

.form-group{
    width: 150px;
}

.footer{
    color: rgb(151, 151, 151);
}